.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

hr {
    border-top: 1px dashed #8c8b8b;
    background-color: #f0f0f0;
    width: 700px;
    float: center;
}

hr:after {
    content: '\002702';
    display: inline-block;
    position: relative;
    top: -12px;
    left: 40px;
    padding: 0 3px;
    background: transparent;
    color: #8c8b8b;
    font-size: 18px;
}
