<!-- Features Section-->
<section id="cta" class="bg-fixed overlay" style="background-image: url(static/img/bg.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">I work to create you a beautiful website, or million of them</h2>
                    <p>Contact me to be able to create what you want regardless of the limit of your imagination!</p>
                    <a class="btn btn-outline-primary btn-lg" href="/#section-projects">SEE PROJECTS</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section-->
<footer class="mastfoot my-3">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		
         	</div>
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">&copy; 2022 Design by <a target="_blank">Nicolas Erazo</a>.</p>
         	</div>
           
            <div class="col-lg-4 col-md-12">
            	<nav class="nav nav-mastfoot justify-content-center">
	                <a class="nav-link" href="https://www.facebook.com/nicolas.erazo/" target="_blank">
	                	<i class="fab fa-facebook-f"></i>
	                </a>
	                <a class="nav-link" href="https://www.instagram.com/nicolukass/" target="_blank">
	                	<i class="fab fa-instagram"></i>
	                </a>
	                <a class="nav-link" href="https://www.linkedin.com/in/nicol%C3%A1s-erazo-8b9100236/" target="_blank">
	                	<i class="fab fa-linkedin"></i>
	                </a>
	            </nav>
            </div>
            
        </div>
    </div>
</footer>	

	<!-- External JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='/vendor/bootstrap/popper.min.js/') }}"></script>
	<script src="{{ url_for('static', filename='/vendor/bootstrap/bootstrap.min.js/') }}"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript" ></script>
	<script src="{{ url_for('static', filename='/vendor/stellar/jquery.stellar.js/') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='/vendor/select2/select2.min.js/') }}"></script>
	<script src="{{ url_for('static', filename='/vendor/owlcarousel/owl.carousel.min.js/') }}"></script>
	<script src="{{ url_for('static', filename='/vendor/isotope/isotope.min.js/') }}"></script>
	<script src="{{ url_for('static', filename='/vendor/lightcase/lightcase.js/') }}"></script>
	<script src="{{ url_for('static', filename='/vendor/waypoints/waypoint.min.js/') }}"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script> 

	<!-- Main JS -->
	<script src="{{ url_for('static', filename='/js/app.min.js/') }}"></script>
	
</body>
</html>