{% include 'header.html' %}

{% if alert == True %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="alert alert-success">
    <strong>Success!!</strong>&nbsp;Message sent successfully...
</div>

<script type="text/javascript">

    $(document).ready(function () {

        window.setTimeout(function () {
            $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                $(this).remove();
            });
        }, 5000);

    });
</script>
{% endif %}

<div class="jumbotron d-flex align-items-center">

    <div class="container text-center col-xs-12 col-sm-12 col-md-3">
        <h1 class="display-1 mb-4">Hi↓</h1>
    </div>

    <div class="rectangle-1"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-transparent-1"></div>
    <div class="rectangle-transparent-2"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="triangle triangle-1">
        <img src="{{ url_for('static', filename='/img/obj_triangle.png/') }}">
    </div>
    <div class="triangle triangle-2">
        <img src="{{ url_for('static', filename='/img/obj_triangle.png/') }}">
    </div>
    <div class="triangle triangle-3">
        <img src="{{ url_for('static', filename='/img/obj_triangle.png/') }}">
    </div>
    <div class="triangle triangle-4">
        <img src="{{ url_for('static', filename='/img/obj_triangle.png/') }}">
    </div>
</div>
<!-- Features Section-->
<section id="features" class="bg-white" style="background-image: url(static/img/bg-white.jpg);">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title">
                    A template built by <a href="https://www.facebook.com/nicolas.erazo/" target="_blank">Ing: Nicolas
                        Erazo Arce</a>
                </h2>
                <p class="section-sub-title">Electronic engineer recently graduated from the National Open and Distance
                    University (UNAD). <br> His focus since its completion was programming and web development.</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Features Holder-->
                <div class="col-md-10 offset-md-1 features-holder">
                    <div class="row">
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-cog fs-40"></i>
                                </div>
                                <h4>Easy to Customize</h4>
                                <p>Based on your idea, your website is customized.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-frame-contract fs-40"></i>
                                </div>
                                <h4>Pixel Perfect</h4>
                                <p>The graphic design of your website will be pleasing to the user's eyes.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-bubble fs-40"></i>
                                </div>
                                <h4>Full Support</h4>
                                <p>The support will be 100% reliable and punctual when it comes to modifying your
                                    request..</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-magic-wand fs-40"></i>
                                </div>
                                <h4>Clean Design</h4>
                                <p>Designs with clean and functional colors, pages, typography and actions.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-clock fs-40"></i>
                                </div>
                                <h4>Ontime Project</h4>
                                <p>Your web page project is executed in the shortest possible time.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-thumbs-up fs-40"></i>
                                </div>
                                <h4>Built with Python</h4>
                                <p>Being Python one of the top languages worldwide for web development.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                    </div>
                </div>
                <!-- End of Features Holder-->
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section-->
<section id="section-projects" class="featurettes overlay bg-fixed" style="background-image: url(static/img/bg.jpg);">

    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center" data-aos="fade-right">
                    <h1 class="text-center font-weight-bold">PROJECTS MADE BY ME</h1>
                    <h4>Here are a few past design projects I've worked on. Do you want to know more? <a
                            href="https://wa.me/573193648237?text=Me%20gustaría%20contactarme%20contigo!">Text me.</a>
                    </h4>
                    <br>
                    <div class="row align-items-center text-white">
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                            <div class="blog-item"
                                style="background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f8f5ff, #f3ebff, #efe0ff, #ecc6ff, #eda9fc, #f388f2, #fb5fe2);">
                                <div class="blog-img">
                                    <img src="{{ url_for('static', filename='/img/blog-3.jpg/') }}" alt="">
                                </div>
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <h6><small>WEB DEVELOPMENT WITH LARAVEL</small></h6>
                                    </div>
                                    <div class="blog-title">
                                        <h4>My First Website</h4>
                                    </div>
                                    <div class="blog-meta text-dark">
                                        <p class="blog-date">Feb 2022 - Jun 2022</p>
                                    </div>
                                    <div class="blog-desc text-dark">
                                        <p>Was created to provide exceptional value in strategies of global migration
                                            and mobility.</p>
                                    </div>
                                    <div class="blog-author text-dark">
                                        <p>By <strong>Nicolas Erazo</strong></p>
                                    </div>
                                    <div class="blog-share-wrapper">
                                        <a class="blog-share" href="http://hommersomconsulting.com/">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                            <div class="blog-item"
                                style="background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f8f5ff, #f3ebff, #efe0ff, #ecc6ff, #eda9fc, #f388f2, #fb5fe2);">
                                <div class="blog-img">
                                    <img src="{{ url_for('static', filename='/img/NicoPage.png/') }}" alt="">
                                </div>
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <h6><small>WEB DEVELOPMENT WITH FLASK</small></h6>
                                    </div>
                                    <div class="blog-title">
                                        <h4>My Portfolio</h4>
                                    </div>
                                    <div class="blog-meta text-dark">
                                        <p class="blog-date">Jul 2022 - Aug 2022</p>
                                    </div>
                                    <div class="blog-desc text-dark">
                                        <p>Was created to demonstrate my knowledge in web development with Flask -
                                            Python.</p>
                                    </div>
                                    <div class="blog-author text-dark">
                                        <p>By <strong>Nicolas Erazo</strong></p>
                                    </div>
                                    <div class="blog-share-wrapper">
                                        <a class="blog-share" href="https://nicopage.onrender.com/">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                            <div class="blog-item"
                                style="background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f8f5ff, #f3ebff, #efe0ff, #ecc6ff, #eda9fc, #f388f2, #fb5fe2);">
                                <div class="blog-img">
                                    <img src="{{ url_for('static', filename='/img/PokeApi.png/') }}" alt="">
                                </div>
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <h6><small>WEB DEVELOPMENT WITH ANGULAR</small></h6>
                                    </div>
                                    <div class="blog-title">
                                        <h4>Poke-API</h4>
                                    </div>
                                    <div class="blog-meta text-dark">
                                        <p class="blog-date">Jan 2023</p>
                                    </div>
                                    <div class="blog-desc text-dark">
                                        <p>Was created to practice consumption of APIs and generation of graphical
                                            interfaces.</p>
                                    </div>
                                    <div class="blog-author text-dark">
                                        <p>By <strong>Nicolas Erazo</strong></p>
                                    </div>
                                    <div class="blog-share-wrapper">
                                        <a class="blog-share" href="https://pokeapi-bb219.web.app/home">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                            <div class="blog-item"
                                style="background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f8f5ff, #f3ebff, #efe0ff, #ecc6ff, #eda9fc, #f388f2, #fb5fe2);">
                                <div class="blog-img">
                                    <img src="{{ url_for('static', filename='/img/MyStore.png/') }}" alt="">
                                </div>
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <h6><small>WEB DEVELOPMENT WITH ANGULAR</small></h6>
                                    </div>
                                    <div class="blog-title">
                                        <h4>E-commerce - MyStore</h4>
                                    </div>
                                    <div class="blog-meta text-dark">
                                        <p class="blog-date">Feb 2023</p>
                                    </div>
                                    <div class="blog-desc text-dark">
                                        <p>Was created to practice consumption of APIs and generation of graphical
                                            interfaces.</p>
                                    </div>
                                    <div class="blog-author text-dark">
                                        <p>By <strong>Nicolas Erazo</strong></p>
                                    </div>
                                    <div class="blog-share-wrapper">
                                        <a class="blog-share" href="https://mystore-nicolas.web.app/home">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                            <div class="blog-item"
                                style="background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f8f5ff, #f3ebff, #efe0ff, #ecc6ff, #eda9fc, #f388f2, #fb5fe2);">
                                <div class="blog-img">
                                    <img src="{{ url_for('static', filename='/img/LaurayLesly.png/') }}" alt="">
                                </div>
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <h6><small>WEB DEVELOPMENT WITH Angular</small></h6>
                                    </div>
                                    <div class="blog-title">
                                        <h4>Aprende con Innovación</h4>
                                    </div>
                                    <div class="blog-meta text-dark">
                                        <p class="blog-date">Mar 2023</p>
                                    </div>
                                    <div class="blog-desc text-dark">
                                        <p>Was created to practice the creation of games with JavaScript according to
                                            customer needs.</p>
                                    </div>
                                    <div class="blog-author text-dark">
                                        <p>By <strong>Nicolas Erazo</strong></p>
                                    </div>
                                    <div class="blog-share-wrapper">
                                        <a class="blog-share" href="https://aprendeconinnovacion.web.app/">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                        <!-- Blog Item -->
                        <div class="col-md-4 blog-item-wrapper" data-aos="fade-up">
                            <div class="blog-item"
                                style="background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f8f5ff, #f3ebff, #efe0ff, #ecc6ff, #eda9fc, #f388f2, #fb5fe2);">
                                <div class="blog-img">
                                    <img src="{{ url_for('static', filename='/img/MyDay.png/') }}" alt="">
                                </div>
                                <div class="blog-text">
                                    <div class="blog-tag">
                                        <h6><small>WEB DEVELOPMENT WITH ANGULAR</small></h6>
                                    </div>
                                    <div class="blog-title">
                                        <h4>Tasks - MyDay</h4>
                                    </div>
                                    <div class="blog-meta text-dark">
                                        <p class="blog-date">Mar 2023</p>
                                    </div>
                                    <div class="blog-desc text-dark">
                                        <p>Was created to practice asynchronous programming and localstorage services.
                                        </p>
                                    </div>
                                    <div class="blog-author text-dark">
                                        <p>By <strong>Nicolas Erazo</strong></p>
                                    </div>
                                    <div class="blog-share-wrapper">
                                        <a class="blog-share" href="https://tasks-myday.web.app/">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Blog Item -->
                    </div>
                    <!--/ .featurettes-item -->
                </div>
            </div>
            <!--/ .col-md-12 -->
        </div>
        <!--/ .row -->
    </div>
    </div>
    <!--/ .container -->

</section>

<!-- Portfolio Section -->
<section id="portfolio" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title"><b>Choose the images you like</b></h2>
                <p class="section-sub-title">the images are chosen of the best quality and of your main idea to generate
                    the synergy between the user and the web page to be developed</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Portfolio Holder -->
                <div class="col-md-12 portfolio-holder mt-3">
                    <!-- Btn Filter -->
                    <div class="filter-button-group btn-filter d-flex justify-content-center">
                        <a tabindex="0" class="active" data-filter="*">Show All</a>
                        <a tabindex="0" data-filter=".minimalism">Minimalism</a>
                        <a tabindex="0" data-filter=".vintage">Vintage</a>
                        <a tabindex="0" data-filter=".creative">Creative</a>
                    </div>
                    <!-- End of Btn Filter -->
                    <!-- Portfolio Content -->
                    <div class="grid-portfolio">
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>
                        <!-- Portfolio Item -->
                        <div class="grid-item minimalism" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-1.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for('static', filename='/img/photo-1.jpg/') }}"
                                            title="Photo-1">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>Joker</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-6.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for( 'static', filename='/img/photo-6.jpg/') }}" title="Ship">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>Women Magazine</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative grid-item-height" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-2.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for( 'static', filename='/img/photo-2.jpg/') }}"
                                            title="Tracy Portrait">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>Eye</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item minimalism grid-item-height" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-3.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for( 'static', filename='/img/photo-3.jpg/') }}"
                                            title="Tracy Portrait">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>Dr Strange</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-7.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for( 'static', filename='/img/photo-7.jpg/') }}"
                                            title="Guitar">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>WoMen</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-4.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for( 'static', filename='/img/photo-4.jpg/') }}"
                                            title="Bookself">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>Car Magazine</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-9.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for( 'static', filename='/img/photo-9.jpg/') }}"
                                            title="Guitar">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>Starry Night</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage grid-item-height" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-8.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for( 'static', filename='/img/photo-8.jpg/') }}"
                                            title="Tracy Portrait">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>Women Power</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item minimalism grid-item-height" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img src="{{ url_for( 'static', filename='/img/photo-5.jpg/') }}" alt="portfolio-img"
                                    class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase"
                                            href="{{ url_for( 'static', filename='/img/photo-5.jpg/') }}"
                                            title="Tracy Portrait">
                                            <span class="lnr lnr-move"></span>
                                        </a>

                                    </div>
                                    <div class="grid-title">
                                        <h4>Batman</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                    </div>
                    <!-- End of Portfolio Content -->
                </div>
                <!-- End of Portfolio Holder -->
            </div>
        </div>
    </div>
</section>
<!-- End of Portfolio Section -->
<!-- Client Section -->
<section id="client" class="overlay bg-fixed" style="background-image: url(static/img/bg.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row ">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="title-wrap mb-5">
                        <h1>I would love <span> to work</span> with you</h1>
                    </div>
                    <!-- End of Section Title -->
                </div>
                <!-- Client Holder -->
                <div class="col-md-12 client-holder">
                    <div class="client-slider owl-carousel">
                        <div class="client-item">
                            <img class="img-responsive" alt="Responsive image"
                                src="{{ url_for( 'static', filename='/img/Desarrollador.png/') }}">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" alt="Responsive image"
                                src="{{ url_for( 'static', filename='/img/Desarrollador1.png/') }}">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" alt="Responsive image"
                                src="{{ url_for( 'static', filename='/img/Desarrollador2.png/') }}">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" alt="Responsive image"
                                src="{{ url_for( 'static', filename='/img/Desarrollador.png/') }}">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" alt="Responsive image"
                                src="{{ url_for( 'static', filename='/img/Desarrollador1.png/') }}">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" alt="Responsive image"
                                src="{{ url_for( 'static', filename='/img/Desarrollador2.png/') }}">
                        </div>
                    </div>
                    <!-- End of Client Holder -->
                </div>
            </div>
        </div>
</section>
<!-- End of Client Section -->
<!-- Reservation Section -->
<section id="reservation" class="bg-white section-content" style="background-image: url(static/img/bg-white.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1 mb-5 mb-lg-0" data-aos="fade-right">
                <div class="bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <h2 class="mb-4">
                            Contact Us
                        </h2>
                    </div>
                    <form action="/contact/save" method="post">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                                    required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email"
                                    required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                                    placeholder="Phone" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" id="message" name="message" rows="6"
                                    placeholder="Your Message ..."></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Send
                                    Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 text-center" data-aos="fade-left">
                <h2 class="mb-4">
                    I am the best solution to create any website.
                </h2>
                <p class="mb-4">Based on your main idea, we reach the total development of a web page with your personal
                    design.</p>

                <ul class="list-inline py-2">
                    <li class="list-inline-item text-center">
                        <span class="lnr fs-40 lnr-rocket"></span>
                        <p>Fast delivery</p>
                    </li>
                    <li class="list-inline-item text-center">
                        <span class="lnr fs-40 lnr-magic-wand"></span>
                        <p>Awesome design</p>
                    </li>
                    <li class="list-inline-item text-center">
                        <span class="lnr fs-40 lnr-cog"></span>
                        <p>Easy to customize</p>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</section>
<!-- End of Reservation Section -->
</div>

{% include 'footer.html' %}